body{
    background-color: aquamarine;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
    flex-basis: 100px;
    align-self: flex-start;
}